version: "3.7"

services:
  neatly-postgres:
      image: postgres:alpine
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_USER=neatly
        - POSTGRES_PASSWORD=neatly
        - PGDATA=/pgdata
        - POSTGRES_DB=neatly

  backend1:
    build:
      context: ./backend
    env_file:
      - backend.env
    command: ./wait-for-postgres.sh neatly-postgres ./app
    container_name: backend1
    restart: on-failure
    ports:
      - "8081:8080"
    depends_on:
      - neatly-postgres

  backend2:
   build:
     context: ./backend
   command: ./wait-for-postgres.sh neatly-postgres ./app
   env_file:
     - backend.env
   container_name: backend2
   restart: on-failure
   ports:
     - "8082:8080"
   depends_on:
     - neatly-postgres

  backend3:
   build:
     context: ./backend
   env_file:
     - backend.env
   command: ./wait-for-postgres.sh neatly-postgres ./app etc/config/local.yml
   container_name: backend3
   restart: on-failure
   ports:
     - "8083:8080"
   depends_on:
     - neatly-postgres
#
  backend_mirror:
   build:
     context: ./backend
   env_file:
     - mirror.env
   command: ./wait-for-postgres.sh neatly-postgres ./app etc/config/mirror.yml
   container_name: backend_mirror
   restart: on-failure
   ports:
     - "8084:8080"
   depends_on:
     - neatly-postgres

  nginx:
   image: 'byjg/nginx-extras'
   ports:
     - "8080:8080"
   expose:
     - "8080"
   volumes:
     - ./backend/etc/nginx/static:/usr/share/nginx/static
     - ./backend/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
   restart: always
   links:
     - "backend1:backend1"
     - "backend2:backend2"
     - "backend3:backend3"
     - "pgadmin:pgadmin"
     - "backend_mirror:backend_mirror"


  pgadmin:
   image: 'dpage/pgadmin4'
   environment:
     - PGADMIN_DEFAULT_EMAIL=user@domain.com
     - PGADMIN_DEFAULT_PASSWORD=SuperSecret
     - traefik.frontend.pgadmin4.rule=Host(`host.example.com`) && PathPrefix(`/pgadmin4`)
   ports:
     - "8090:80"